{% extends 'base.html' %}

{% block head %}
<title>Topic Recommender</title>
{% endblock %}

{% block body %}

    <div class="content">
    
    <h1 style="text-align: center">Topic Recommender</h1>
    
    <div class="form">
            <form action="/" method="POST">			
                <input type="text" name="content" id="content">
				<input type="submit" value="Search" id = "search">				
            </form>
        </div>

    <table>
        
        {% for task in tasks %}
				{% if "err" in task%}
				<p>Did You Mean <a href="{{url_for('index',val2 = tasks["err"])}}">{{ tasks["err"] }}</a></p>
				{% endif %}
				{% if 'topics' in task%}
				<tr>
					<th>Output</th>
				</tr>
				{% for value in task["topics"]%}
				<tr>
					<td><a href="{{url_for('paper',val = value)}}">{{ value }}</a></td>
				</tr>
				{% endfor %}
				{% endif %}
        {% endfor %}
    </table>

    
</div>
{% endblock %}