{% extends 'base.html' %}

{% block head %}
<title>Papers</title>
{% endblock %}

{% block body %}

    <div class="paper-content">
    
    <h1 style="text-align: center">Highly Cited Papers</h1>

    <table>
        <tr>
            <th>Paper id</th>
            <th>Title</th>
            <th>Citation count</th>
            <th>DOI</th>
        </tr>
        {% for task in tasks %}
            {% for val in task['paper_data']%}
            <tr>
                <td>{{ val["id"] }}</td>
                <td>{{ val["title"] }}</td>
                <td>{{ val["n_citation"] }}</td>
                <td><a href="https://www.doi.org/{{val['doi']}}">{{ val["doi"] }}</a></td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <a href="/" style="text-align: center">Go back to homepage</a>
</div>
{% endblock %}